font-family: Geneva, Arial, Helvetica, sans-serif;
h1 {
  color: #326464;
  font-weight: bold;
  text-align: center;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
h2 {
  color: #ff4848;
  font-weight: bold;
  text-align: center;
}
h3 {
  color: #ff3232;
  font-weight: bold;
}
font-family: Georgia, 'Times New Roman', Times, serif;
p {
  color: #640000;
}
article {
  color: #640000;
  
}
