canvas {
  display: block;
  border: 1px solid black;
}
#numL {
  width: 50%;
  height: 20px;
  color: red;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#warning {
  color: red;
  height: 20px;
  font-family: 'Oswald', sans-serif;
}
