canvas {
  display: block;
  border: 2px solid rgb(255,200,30);
  border-radius: 7px;
}
#numL {
  max-width: 500px;
  min-width: 200px;
  height: 30px;
  font-size: 20px;
}
#warning {
  color: #fff;
  margin: 10px auto;
}
