canvas {
  display: block;
  border: 1px solid black;
}
#numL {
  max-width: 500px;
  min-width: 200px;
  height: 30px;
  color: red;
  font-size: 20px;
}
#warning {
  color: red;
  margin: 10px auto;
}
